@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body {
  background: #224941 url('main.jpg') no-repeat center center/cover;
  color: #fff;
  min-height: 100vh;
  font-family: 'EB Garamond', serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);

}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
