/*--------------------------------------------------------------
>>> COLOR
--------------------------------------------------------------*/

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {color: var(--primary);}

/* PARAGRAPHS, LABELS, INPUT, FORM, BUTTON */
p, label {color: var(--primary);}

/* BODY BACKGROUND COLOR */
body {background-color: var(--secondary)}

/* A TAGS (LINKS) */
a {color: var(--primary); text-decoration: underline;}
a:hover {color: red;} 
a:visited {color: var(--primary);}

/* COLOR THEME - SET YOUR COLOR CHOICES HERE */
/* ROOT THEME */
:root {
  --primary: white;
  --secondary: black;
  --shadow: rgba(0,0,0,0.44);
  --other-primary: red;
  --other-secondary: green;
  --bg1: #ee7752;
  --bg2: #e73c7e;
  --bg3: #23a6d5;
  --bg4: #23d5ab;
}

/* DARK THEME */
[data-theme="dark"] {
  --primary: black;
  --secondary: white;
  --shadow: rgba(228, 222, 222, 0.44);
  --other-primary: green;
  ---other-secondary: red;
  --bg1: #131111;
  --bg2: #711688;
  --bg3: #23a6d5;
  --bg4: #23a687;
}

