/* FIX FILE */


/* CSS FILE FOR THE STYLING OF JUST THE SWITCH ALONE. */
/* * HAS NOTHING TO DO WITH THE COLOR SCHEME BESIDES THE COLOR OF THE SWITCH CONTAINER AND BUBBLE */
/* IF YOUR WEBSITE DOES NOT HAVE A SWITCHABLE COLOR THEME, THEN YOU CAN DELETE THIS FILE. */


/*--------------------------------------------------------------
>>> THEME SWITCH
--------------------------------------------------------------*/
.theme_switch {
    display: inline-block;
    height: 34px;
    position: relative;
    /* top: 60px; */
    /* left: 20px; */
    margin: 0 auto;
    width: 60px;
}
    
/* .theme_switch input {display:none;} */

.slider {
    background-color: var(--secondary);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--primary);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {background-color: var(--secondary);}

input:checked + .slider:before {
transform: translateX(26px);
background-color: var(--primary);
}

.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
/*--------------------------------------------------------------
>>> THEME SWITCH END
--------------------------------------------------------------*/


/* .theme_switch input {display:none;} */

.slider {
    background-color: var(--secondary);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--primary);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {background-color: var(--secondary);}

input:checked + .slider:before {
transform: translateX(26px);
background-color: var(--primary);
}

.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}