/*--------------------------------------------------------------
>>> STYLE
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

/* .container {max-width: 100%;} */

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'EB Garamond', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    text-align: center; 
    background-image: url("../../images/main.jpg");
    }

hr {
    width: 80%;
    margin-bottom: 20px;
    background-color: aliceblue;
    color: aliceblue;
  }
  
  
#header {
    max-width: 70%;
    margin: 5rem 0 ;
    padding: 3rem;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) -100%, rgba(1,100,139,1) 3%, rgba(2,0,36,1) 100%);
    border-radius: 20px;
    border: 3px solid whitesmoke;
  } 

.quote-author { padding-top: 1rem; }

.word-container {
    margin: 4rem 0;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) -100%, rgba(1,100,139,1) 3%, rgba(2,0,36,1) 100%);
    padding: 2% 4%;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    animation: shrink 4s ease alternate infinite;
}

footer {
  margin-top: 12rem;
  width: 100%;
  background-color: black;
  padding: 1rem;
}



