/*--------------------------------------------------------------
>>> INDEX
--------------------------------------------------------------*/

/* MASTER */
@import "./Master/1reset.css";
@import "./Master/2text.css";
@import "./Master/3color.css";
@import "./Master/4main.css";

/* SITEMAP */
@import "./Master/home.css";
@import "./Master/breathe.css";
@import "./Master/navbar.css";
@import "./Master/playbar.css";
@import "./Master/register.css";

/* SETTINGS */
@import "./Master/settings.css";
@import "./Master/yourMusic.css";

/*--------------------------------------------------------------
>>> MEDIA QUERY
--------------------------------------------------------------*/

/* MEDIA QUERY */
@import "./MediaQuery/576.css";
@import "./MediaQuery/768.css";
@import "./MediaQuery/992.css";
@import "./MediaQuery/1200.css";
@import "./MediaQuery/1400.css";