/*--------------------------------------------------------------
>>> TEXT
--------------------------------------------------------------*/

/* FONTS */
h1, h2, h3, h4, h5, h6 {text-align:center; font-family: 'Square Peg', cursive !important;}
p, button {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
span {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

/* FONT SIZE */
h1 {font-size: 4rem;}
h2 {font-size: 3.2rem}
h3 {font-size: 2.8rem;}
h4 {font-size: 2rem;}
h5, label {font-size: 1.4rem;}
h6, span {font-size: 1.2rem;}
a {font-size: 1.6rem;}
p {font-size: 1.4rem;}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

/* H1: 2.5REM / 26PX h1 {font-size: calc(1.375rem + 1.5vw);} */
/* @media (min-width: 1200px) {h1 {font-size: 2.5rem !important;}} */
/* H2: 2REM / 24PX h2 {font-size: calc(1.325rem + 0.9vw);} */
/* @media (min-width: 1200px) {h2 {font-size: 2rem !important;}} */
/* H3: 1.75REM /22PX h3 {font-size: calc(1.3rem + 0.6vw);} */
/* @media (min-width: 1200px) {h3 {font-size: 1.75rem !important;}} */
/* H4: 1.5REM / 20PX h4 {font-size: calc(1.275rem + 0.3vw);} */
/* @media (min-width: 1200px) {h4 {font-size: 1.5rem !important;}} */
/* H5: 1.25REM / 18PX h5 {font-size: 1.25rem !important;} */
/* H6: 1REM / 16PX h6 {font-size: 1rem !important;} */
/* P: 1REM / 16PX */

@keyframes fontSizeChange {0% {font-size: 4.5rem;} 100% {font-size: 2rem;}}