/*--------------------------------------------------------------
>>> COLOR
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {color: var(--primary);}
p, label, a, span {color: var(--primary);}

#background, body {
  /* background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4)); */
  /* animation: gradient 15s ease infinite; */
  background-color: rgb(77, 74, 74);
}

/* ROOT */
:root {
  --primary: white;
  --secondary: black;
  --shadow: rgba(0,0,0,0.44);
  --other-primary: red;
  --other-secondary: green;
  --bg1: #ee7752;
  --bg2: #e73c7e;
  --bg3: #23a6d5;
  --bg4: #23d5ab;
}

[data-theme="dark"] {
  --primary: black;
  --secondary: white;
  --shadow: rgba(59, 55, 55, 0.44);
  --other-primary: green;
  ---other-secondary: red;
  --bg1: #131111;
  --bg2: #711688;
  --bg3: #23a6d5;
  --bg4: #23a687;
}