@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@keyframes fontSizeChange {0% {font-size: 4.5rem;} 100% {font-size: 2rem;}}


@keyframes breathe {0% {font-size: 4.5rem;} 50% {font-size: 2rem;} 100% {font-size: 4.5rem;}}



/* PULSE */
@keyframes pulse {
    0% {transform: scale(.15) rotate(180deg);}
    100% {transform: scale(1);}
  }
  
  /* INDIVIDUAL CIRCLE */
  @keyframes circle-1 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-35px, -50px);}
  }
  
  @keyframes circle-2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(35px, 50px);}
  }
  
  @keyframes circle-3 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-60px, 0);}
  }
  
  @keyframes circle-4 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(60px, 0);}
  }
  
  @keyframes circle-5 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-35px, 50px);}
  }
  
  @keyframes circle-6 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(35px, -50px);}
  }

  
  @keyframes grow {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
  }
  
    
  @keyframes shrink {
    from {transform: scale(1.2);}
    to {transform: scale(1);}
  }