/*--------------------------------------------------------------
>>> Positioning
--------------------------------------------------------------*/

  /* FLOATS */
  .fl-left {float: left !important;}
  .fl-right {float: right !important;}
  .fl-none {float: none !important;}

  /* POSITION */
  .ps-static {position: static !important;}
  /* Setting the t/r/b/l properties of a relatively-positioned 
  element will cause it to be adjusted away from its normal position. */
  .ps-relative {position: relative !important;}
  /* An element with position: absolute; is positioned relative to the nearest positioned 
  ancestor (instead of positioned relative to the viewport, like fixed). However; if an 
  absolute positioned element has no positioned ancestors, it uses the document body, 
  and moves along with page scrolling. */
  .ps-absolute {
    position: absolute !important;
    top: 80px !important;
    right: 0 !important;
  }

  .ps-fixed {
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
  }

  .ps-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
  }

