/*--------------------------------------------------------------
>>> LOCALITY
--------------------------------------------------------------*/
/* VISIBILITY */
.v {visibility: visible !important;}
.i {visibility: hidden !important;}
.o-0 {opacity: 0.5 !important;}
.o-1 {opacity: 0.2 !important;}
.dn {display: none !important;}

/* FORMATTING */
.di {display: inline !important;}
.dib {display: inline-block !important;}
.db {display: block !important;}
.dt {display: table !important;}
.dtr {display: table-row !important;}
.dtc {display: table-cell !important;}

/* FLOATS */
.fl {float: left !important;}
.fr {float: right !important;}
.fn {float: none !important;}

/* POSITION */
.pst {position: static !important;}
.pr {position: relative !important;}

.pa {
  position: absolute !important;
  top: 80px !important;
  right: 0 !important;
}

.pf {
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
}

.ps {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
}

/* OVERFLOW */
.ofa {overflow: auto !important;}
.ofh {overflow: hidden !important;}

/* BACKGROUND-OPACITY */
.bgo-0 {background: rgb(255, 255, 255) !important;}
.bgo-1 {background: rgba(255, 255, 255, 0.1) !important;}
.bgo-2 {background: rgba(255, 255, 255, 0.3) !important;}
.bgo-3 {background: rgba(255, 255, 255, 0.6) !important;}