/*--------------------------------------------------------------
>>> BREATHE
--------------------------------------------------------------*/
/* Swt each color and make a di */

.breathe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-container {
  margin-bottom: 8rem;
}

.word {
  animation: breathe 3s infinite;
  font-size: 6rem;
}

.circle-container {
  height: 125px;
  width: 125px;
  animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
}

.circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(0, 0);
  animation: center 6s infinite;
}

/*blue top left*/
.circle:nth-child(1) {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(0,0,0,100) 0%, rgba(0,212,255,1) 100%);
}

/*orange bottom right*/
.circle:nth-child(2) {
	background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,100) 43%, rgba(227,5,59,1) 100%);
}

/*green middleleft*/
.circle:nth-child(3) {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,255,0,1) 100%);
}

/*red middle right*/
.circle:nth-child(4) {
  background: rgb(139,3,249);
  background: linear-gradient(90deg, rgba(139,3,249,1) 0%, rgba(0,0,0,1) 100%);
}

/*orange bottom leftt*/
.circle:nth-child(5) {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(233,152,11,1) 100%);
}

/*white top right*/
.circle:nth-child(6) {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(2,0,36,1) 100%);
}

.circle:nth-child(1) {animation: circle-1 4s ease alternate infinite;}
.circle:nth-child(2) {animation: circle-2 4s ease alternate infinite;}
.circle:nth-child(3) {animation: circle-3 4s ease alternate infinite;}
.circle:nth-child(4) {animation: circle-4 4s ease alternate infinite;}
.circle:nth-child(5) {animation: circle-5 4s ease alternate infinite;}
.circle:nth-child(6) {animation: circle-6 4s ease alternate infinite;}


/* WORD GROW */
.word-container .grow {animation: grow 3s linear forwards;}
.word-container.shrink { animation: shrink 3s linear forwards;}