/*--------------------------------------------------------------
>>> REGISTER
--------------------------------------------------------------*/
#background, body {
    /* background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4)); */
    /* animation: gradient 15s ease infinite; */
    background-color: rgb(77, 74, 74);
  }
  

.form-container {
    width: 100vw; 
    padding: 45px; 
    margin: 0 auto;
}

.form-container label {
    margin: 35px 0 10px 0;
    display: block;
    text-align: center;
}

.register-note {text-align: center;}
.register-form, #login-form {display: none;}
.form-container .error-message {display: block;}

