/*--------------------------------------------------------------
>>> REGISTER
--------------------------------------------------------------*/


.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 26vw;
    padding: 45px;
    margin: 0 auto;
}

.form-container label {
    margin: 35px 0 5px 20px;
    display: block;
}

.register-note {text-align: center;}
.register-form, #login-form {display: none;}
.form-container .error-message {display: block;}