/*--------------------------------------------------------------
>>> REGISTER
--------------------------------------------------------------*/

hr {
    max-width: 70%;
    height: px;
    background-color: white;
    border-color: white;
}

 #loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputContainer {
    width: 26vw;
    padding: 45px;
}

#inputContainer label {
	color: var(--primary);
    font-size: 18px;
    margin: 35px 0 15px 0;
    display: block;
    text-align: center;
}

#inputContainer button {
	background-color: transparent;
    border: 2px solid white;
    border-radius: 250px;
    color: var(--primary);
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 50px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button {
	cursor: pointer;
    background: linear-gradient(-45deg, var(--bg4), var(--bg3), var(--bg2), var(--bg1));
    animation: gradient 15s ease infinite;
}

.hasAccountText span {
	font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: var(--primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hasAccountText {text-align: center;}
#registerForm, #loginForm {display: none;}
#loginText h3 {margin: 25px 0;}
#loginText h4 {margin: 0;}
#loginText h1 {margin-top: 0}
#inputContainer .errorMessage {display: block;}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
	display: block;
    border: 0;
    border-bottom: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-radius: 250px;
    padding: 20px;
    height: 27px;
    line-height: 27px;
    width: 100%;
    background: linear-gradient(-45deg, var(--bg4), var(--bg3), var(--bg2), var(--bg1));
    animation: gradient 15s ease infinite;
}


#inputContainer input[type="text"]:focus,
#inputContainer input[type="email"]:focus,
#inputContainer input[type="password"]:focus {
   background: rgb(71, 67, 67);
}

