/*--------------------------------------------------------------
>>> USER DETAILS
--------------------------------------------------------------*/

/* .update-details .update-email input[type="text"],
.update-details .update-email input[type="password"],
.update-details .update-email .button {
    display: block;
    margin: 16px auto;
}

.update-details input[type="text"],
.update-details input[type="password"] {
    height: 50px;
    width: 25%;
    background: white;
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
}

.update-details .message {
    color: #2ebd59;
    font-weight: 300;
}  */



#section_container button {
    margin: auto;
    padding: 5px 10px;
}

/* #section_container * not(input) {
    text-align: center;
} */

#section_container input {
    max-width: 30%;
    padding: 0 7px;
    margin: 9px auto;
    background: white;
    height: 50px;
}