/*--------------------------------------------------------------
>>> YOUR MUSIC
--------------------------------------------------------------*/
/* .grid-view-container {
    display: flex;
    flex-direction: column;
} */
.no-playlists {
    text-align: center;
    margin: 15px;
    display: block;
    color: var(--primary);
}

.grid-view-item {
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.grid-view-item img {width: 100%;}

.play-list-image {
    border: 3px solid #282828;
    padding: 10px;
}

.grid-view-info {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}