/*--------------------------------------------------------------
>>> COLOR
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {color: var(--primary);}
p, label {color: var(--primary);}
body {background-color: var(--secondary)}
a {color: var(--primary);}
a:hover {color: var(--primary);} 
a:visited {color: var(--primary);}
input {color: var(--primary);}

/* ROOT THEME */
:root {
  --primary: white;
  --secondary: black;
  --shadow: rgba(0,0,0,0.44);
  --other-primary: red;
  --other-secondary: green;
  --bg1: #ee7752;
  --bg2: #e73c7e;
  --bg3: #23a6d5;
  --bg4: #23d5ab;
  --gold: #DFC164;
}

/* DARK THEME */
[data-theme="dark"] {
  --primary: black;
  --secondary: white;
  --shadow: rgba(228, 222, 222, 0.44);
  --other-primary: green;
  ---other-secondary: red;
  --bg1: #131111;
  --bg2: #711688;
  --bg3: #23a6d5;
  --bg4: #23a687;
  --gold: #DFC164;
}

/*--------------------------------------------------------------
>>> COLOR - END
--------------------------------------------------------------*/