/*--------------------------------------------------------------
>>> NAVIGATION MENU
--------------------------------------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    z-index: 100;
    width: 100%;
    min-width: 100%;
    padding: 1rem 2rem 1rem 1rem;
    max-height: 95px;
    border-bottom: 5px solid var(--primary);
}

/* EDIT THE LINKS */
.nav_link:hover {
    background-color: var(--primary);
    color: var(--secondary);
}
.navbar_links {
    display: flex;
    color: var(--primary);
    justify-content: space-between;
    align-items: center;
    width: 57vw;

}

/* MOBILE MENU */
.hamburger {display: none;}
.mobile_social_nav {display:none;}

.header_navbar button {
    padding: 0.7rem 1rem;
    border-radius: 10px;;
}
/*--------------------------------------------------------------
>>> NAVIGATION MENU - END
--------------------------------------------------------------*/
