/*--------------------------------------------------------------
>>> NAVIGATION MENU
--------------------------------------------------------------*/

.header {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: var(--secondary);
    /* position: fixed; */
    z-index: 100;
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
    max-height: 95px;
    border-bottom: 5px solid var(--primary);
    min-height: 80px;
}


/* EDIT THE LINKS */
.nav_link:hover {font-size: 1.1rem;}
.navbar_links {
    display: flex;
    color: var(--primary);
    justify-content: space-around;
    padding: 1rem;
    /* align-items: center; */
    /* width: 57vw; */
}

/* MOBILE MENU */
.hamburger {display: none;}
.mobile_social_nav {display:none;}
.nav_menu {z-index: 22;}

.nav_link {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
}

.active {display: none;}
/*--------------------------------------------------------------
>>> NAVIGATION MENU - END
--------------------------------------------------------------*/