/*--------------------------------------------------------------
>>> FOOTER
--------------------------------------------------------------*/

.footer {
    margin-top: 4rem;
    background-color: var(--gold);
}

.footer h4{
    color: black;
    text-align: center;
    padding: 1rem;
}

/*--------------------------------------------------------------
>>> FOOTER END
--------------------------------------------------------------*/