/*--------------------------------------------------------------
>>> THEME SWITCH
--------------------------------------------------------------*/

.theme_switch {
    display: inline-block;
    height: 34px;
    position: relative;
    /* top: 60px; */
    /* left: 20px; */
    margin: 0 auto;
    width: 60px;
}

.slider {
    background-color: var(--primary);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--gold);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {background-color: var(--primary);}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--gold);
}

.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

/*--------------------------------------------------------------
>>> THEME SWITCH - END
--------------------------------------------------------------*/