/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/

@media only screen and (max-width: 992px) {

  /*--------------------------------------------------------------
  >>> TEXT 
  --------------------------------------------------------------*/

  h1 {font-size: calc(1.01rem + 0.3vw);}
  h2 {font-size: calc(0.15rem + 0.9vw);}
  h4 {font-size: calc(0.91rem + 0.3vw);} 
  h6 {font-size: calc(1.01rem + 0.1vw);} 
  a {font-size: calc(.75rem + 0.3vw);} 
  p {font-size: calc(.65rem + 0.3vw);} 
  li {list-style: none;}

  /*--------------------------------------------------------------
  >>> TEXT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> CONTROL PANEL
  --------------------------------------------------------------*/

  .welcome-container {
    max-width: 30%;
    padding: 1.8rem 1.2rem !important;
  }  


  hr {margin: 10px auto 17px auto;}

  #quote-text {
    line-height: 19px !important;
    padding: 0 0 0.7rem 0;
  }

  /*--------------------------------------------------------------
  >>> CONTROL PANEL - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> NAVIGATION
  --------------------------------------------------------------*/

  .header {
    padding: 1rem 1rem 1rem 0rem;
    justify-content: space-around;
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--secondary);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid var(--primary);
  }

  .bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary);
  }

  .header_switch {margin-left: 7rem;}
  .nav_menu.active {left: 0;}
  .nav_item :hover {font-size: 1.1rem;}
  .nav_item {margin: 2rem 0;}
  .nav_link :hover {font-size: 1.1rem;}
  .hamburger {display: block; cursor: pointer; padding-top: 0.5rem;}
  .hamburger.active .bar:nth-child(1) {transform: translateY(8px) rotate(45deg);}
  .hamburger.active .bar:nth-child(3) {transform: translateY(-8px) rotate(-45deg);} 

  /*--------------------------------------------------------------
  >>> NAVIGATION -END
  --------------------------------------------------------------*/
 
}





/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
  /*--------------------------------------------------------------
  >>> TEXT 
  --------------------------------------------------------------*/

  h1 {font-size: calc(1.15rem + 1.1vw);}
  h2 {font-size: calc(0.15rem + 0.9vw);}
  h4 {font-size: calc(1.01rem + 0.3vw);} 
  h6 {font-size: calc(1.01rem + 0.1vw);} 
  a {font-size: calc(.75rem + 0.3vw);} 
  p {font-size: calc(.75rem + 0.3vw);} 
  li {list-style: none;}

  /*--------------------------------------------------------------
  >>> TEXT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> LAYOUT
  --------------------------------------------------------------*/

  #background {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../images/xred-shift.webp");
  }

  /*--------------------------------------------------------------
  >>> LAYOUT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> CONTROL PANEL
  --------------------------------------------------------------*/

  .control-panel {
    margin: 3rem 0 0 0;
    max-width: 100%;
    display: flex;
    flex-direction: column !important;
  }

  .music-side {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .welcome-container {
    max-width: 74% !important;
    min-width: 74% !important;
    padding: 1.2rem;
    background-color: black;
    border-radius: 20px;
    border: 3px solid whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: 220px !important;
    max-height: 220px !important;
  }  

  hr {
    width: 60%;
    height: 3px;
    margin: 10px auto 17px auto;
    background: var(--primary);
  }

  #quote-text {
    line-height: 23px;
    padding: 0 0 0.7rem 0;
    font-family: "Times New Roman", Times, serif;
  }

  #quote-author {
    font-style: italic;
  }

  .word-container {
    margin: 0 auto 0 auto !important;
    padding: 0.3rem 2rem;
    min-width: 74% !important;
    max-width: 74% !important;
    min-height: 55px !important;
  }

  /*--------------------------------------------------------------
  >>> CONTROL PANEL - END
  --------------------------------------------------------------*/

  .music-container {
    background-color: black;
    border: 3px solid whitesmoke;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    padding: 40px 30px;
    position: relative;
    margin: 3.7rem auto 0px auto !important;
    z-index: 10;
    max-width: 74%;
  }

  .music-info {
    padding: 10px 10px 0 43%;
    left: -1.9px;
    width: 101.07%;
    padding: 10px 10px 0 160px;
  }
  
  /*--------------------------------------------------------------
  >>> NAVIGATION
  --------------------------------------------------------------*/

  .header_switch {margin-left: 4rem;}
  .header_social {margin-left: 3rem;}

  /*--------------------------------------------------------------
  >>> NAVIGATION - END
  --------------------------------------------------------------*/


    
}







/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/

@media only screen and (max-width: 576px) {

  /*--------------------------------------------------------------
  >>> NAVIGATION
  --------------------------------------------------------------*/
  h2 {font-size: calc(0.85rem + 0.9vw);}

  .header_social {display: none !important;}
  .header_switch {margin-left: 3rem !important;}
  .nav_item { margin: 1.5rem 0  1.5rem 0;}
  .tooltiptext {display: none;}
  .nav_item {margin: 1rem 0;}

  #background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center !important;
  }


  .special_container {
      display: flex;
      justify-content: space-around !important;
      width: 100%;
  }

  .nav_item_secondary :hover {
      background-color: var(--primary); 
      padding: 1rem 7rem 1rem 7rem;
  }

  .music-img-container img {
    bottom:63px;
  }

  .music-info {
    padding: 10px 10px 0 43%;
    left: -3px;
    /* left: -1.9px; */
    /* width: 101.6%; */
    width: 102%;
    padding: 10px 10px 0 160px;
  }

  .music-img-container::after {
    position: absolute;
    bottom: 209%;
    left: 56px;
    transform: translate(-50%, 50%);
}

  /*--------------------------------------------------------------
  >>> NAVIGATION - END
  --------------------------------------------------------------*/

  .learn-more {max-width: 80%;}
  .learn-more h1 {padding: 4rem 0 1.5rem 0;}

  .learn-more div {max-width: 90%;}
  .about {padding-top: 3rem;}
  .links {padding: 1rem 0 0 2rem; display: table;}
  .links h2 {margin-left: -1rem;}
  .links li {line-height: 30px;}
  .back a {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    padding: 0.6rem 1rem;
    border-radius: 10px;
  }
  .back { margin-top: 2rem;}

}




