/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/

@media only screen and (max-width: 576px) {

  /*--------------------------------------------------------------
  >>> NAVIGATION
  --------------------------------------------------------------*/

  .header_social {display: none !important;}
  .header_switch {margin-left: 3rem !important;}
  .nav_item { margin: 1.5rem 0  1.5rem 0;}
  .tooltiptext {display: none;}
  .nav_item {margin: 1rem 0;}

  #background {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center !important;
  }


  .special_container {
      display: flex;
      justify-content: space-around !important;
      width: 100%;
  }

  .nav_item_secondary :hover {
      background-color: var(--primary); 
      padding: 1rem 7rem 1rem 7rem;
  }

  .music-img-container img {
    bottom:63px;
  }

  .music-info {
    padding: 10px 10px 0 43%;
    left: -1.9px;
    width: 101.6%;
    padding: 10px 10px 0 160px;
  }

  .music-img-container::after {
    position: absolute;
    bottom: 209%;
    left: 56px;
    transform: translate(-50%, 50%);
}

  /*--------------------------------------------------------------
  >>> NAVIGATION - END
  --------------------------------------------------------------*/
}




