/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/

@media only screen and (max-width: 576px) {

  /*--------------------------------------------------------------
  >>> NAVIGATION
  --------------------------------------------------------------*/
  h2 {font-size: calc(0.85rem + 0.9vw);}

  .header_social {display: none !important;}
  .header_switch {margin-left: 3rem !important;}
  .nav_item { margin: 1.5rem 0  1.5rem 0;}
  .tooltiptext {display: none;}
  .nav_item {margin: 1rem 0;}

  #background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center !important;
  }


  .special_container {
      display: flex;
      justify-content: space-around !important;
      width: 100%;
  }

  .nav_item_secondary :hover {
      background-color: var(--primary); 
      padding: 1rem 7rem 1rem 7rem;
  }

  .music-img-container img {
    bottom:63px;
  }

  .music-info {
    padding: 10px 10px 0 43%;
    left: -3px;
    /* left: -1.9px; */
    /* width: 101.6%; */
    width: 102%;
    padding: 10px 10px 0 160px;
  }

  .music-img-container::after {
    position: absolute;
    bottom: 209%;
    left: 56px;
    transform: translate(-50%, 50%);
}

  /*--------------------------------------------------------------
  >>> NAVIGATION - END
  --------------------------------------------------------------*/

  .learn-more {max-width: 80%;}
  .learn-more h1 {padding: 4rem 0 1.5rem 0;}

  .learn-more div {max-width: 90%;}
  .about {padding-top: 3rem;}
  .links {padding: 1rem 0 0 2rem; display: table;}
  .links h2 {margin-left: -1rem;}
  .links li {line-height: 30px;}
  .back a {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    padding: 0.6rem 1rem;
    border-radius: 10px;
  }
  .back { margin-top: 2rem;}

}




