/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
  /*--------------------------------------------------------------
  >>> TEXT 
  --------------------------------------------------------------*/

  h1 {font-size: calc(1.15rem + 1.1vw);}
  h2 {font-size: calc(0.15rem + 0.9vw);}
  h4 {font-size: calc(1.01rem + 0.3vw);} 
  h6 {font-size: calc(1.01rem + 0.1vw);} 
  a {font-size: calc(.75rem + 0.3vw);} 
  p {font-size: calc(.80rem + 0.3vw);} 
  li {list-style: none;}

  /*--------------------------------------------------------------
  >>> TEXT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> LAYOUT
  --------------------------------------------------------------*/

  #background {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../images/xred-shift.jpg");
  }

  /*--------------------------------------------------------------
  >>> LAYOUT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> CONTROL PANEL
  --------------------------------------------------------------*/

  .control-panel {
    margin: 3rem 0 0 0;
    max-width: 100%;
    display: flex;
    flex-direction: column !important;
  }

  .music-side {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .welcome-container {
    max-width: 74% !important;
    min-width: 74% !important;
    padding: 1.5rem;
    background-color: black;
    border-radius: 20px;
    border: 3px solid whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: 20px !important;
    max-height: 220px !important;
  }  

  hr {
    width: 60%;
    height: 3px;
    margin: 10px auto 17px auto;
    background: var(--primary);
  }

  #quote-text {
    line-height: 23px;
    padding: 0 0 0.7rem 0;
    font-family: "Times New Roman", Times, serif;
  }

  #quote-author {
    font-style: italic;
  }

  .word-container {
    margin: 0 auto 0 auto !important;
    padding: 0.3rem 2rem;
    min-width: 74% !important;
    max-width: 74% !important;
    min-height: 55px !important;
  }

  /*--------------------------------------------------------------
  >>> CONTROL PANEL - END
  --------------------------------------------------------------*/

  .music-container {
    background-color: black;
    border: 3px solid whitesmoke;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    padding: 40px 30px;
    position: relative;
    margin: 3.7rem auto 0px auto !important;
    z-index: 10;
    max-width: 74%;
  }

  .music-info {
    padding: 10px 10px 0 43%;
    left: -1.9px;
    width: 101.07%;
    padding: 10px 10px 0 160px;
  }
  
  /*--------------------------------------------------------------
  >>> NAVIGATION
  --------------------------------------------------------------*/

  .header_switch {margin-left: 4rem;}
  .header_social {margin-left: 3rem;}

  /*--------------------------------------------------------------
  >>> NAVIGATION - END
  --------------------------------------------------------------*/


    
}