/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/

@media only screen and (max-width: 992px) {

  /*--------------------------------------------------------------
  >>> TEXT 
  --------------------------------------------------------------*/

  h1 {font-size: calc(1.01rem + 0.3vw);}
  h2 {font-size: calc(0.15rem + 0.9vw);}
  h4 {font-size: calc(0.91rem + 0.3vw);} 
  h6 {font-size: calc(1.01rem + 0.1vw);} 
  a {font-size: calc(.75rem + 0.3vw);} 
  p {font-size: calc(.65rem + 0.3vw);} 
  li {list-style: none;}

  /*--------------------------------------------------------------
  >>> TEXT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> CONTROL PANEL
  --------------------------------------------------------------*/

  .welcome-container {
    max-width: 30%;
    padding: 1.8rem 1.2rem !important;
  }  


  hr {margin: 10px auto 17px auto;}

  #quote-text {
    line-height: 19px !important;
    padding: 0 0 0.7rem 0;
  }

  /*--------------------------------------------------------------
  >>> CONTROL PANEL - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> NAVIGATION
  --------------------------------------------------------------*/

  .header {
    padding: 1rem 1rem 1rem 0rem;
    justify-content: space-around;
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--secondary);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid var(--primary);
  }

  .bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary);
  }

  .header_switch {margin-left: 7rem;}
  .nav_menu.active {left: 0;}
  .nav_item :hover {font-size: 1.1rem;}
  .nav_item {margin: 2rem 0;}
  .nav_link :hover {font-size: 1.1rem;}
  .hamburger {display: block; cursor: pointer; padding-top: 0.5rem;}
  .hamburger.active .bar:nth-child(1) {transform: translateY(8px) rotate(45deg);}
  .hamburger.active .bar:nth-child(3) {transform: translateY(-8px) rotate(-45deg);} 

  /*--------------------------------------------------------------
  >>> NAVIGATION -END
  --------------------------------------------------------------*/
 
}