/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/

@media only screen and (max-width: 992px) {

  /*--------------------------------------------------------------
  >>> TEXT 
  --------------------------------------------------------------*/

  h1 {font-size: calc(0.95rem + 0.3vw);}
  h2 {font-size: calc(0.15rem + 0.9vw);}
  h4 {font-size: calc(1.01rem + 0.3vw);} 
  h6 {font-size: calc(1.01rem + 0.1vw);} 
  a {font-size: calc(.75rem + 0.3vw);} 
  p {font-size: calc(.75rem + 0.3vw);} 
  li {list-style: none;}

  /*--------------------------------------------------------------
  >>> TEXT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> CONTROL PANEL
  --------------------------------------------------------------*/

  .welcome-container {
    max-width: 30%;
    padding: 1.8rem 1.2rem !important;
    min-height: 260px;
    max-height: 260px;
  }  


  hr {
    width: 60%;
    height: 3px;
    margin: 10px auto 17px auto;
  }

  #quote-text {
    line-height: 19px !important;
    padding: 0 0 0.7rem 0;
  }

  /*--------------------------------------------------------------
  >>> CONTROL PANEL - END
  --------------------------------------------------------------*/
 
}