/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/

@media only screen and (min-width: 1400px) {

  /*--------------------------------------------------------------
  >>> TEXT 
  --------------------------------------------------------------*/

  h1 {font-size: calc(1.15rem + 1.1vw);}
  h2 {font-size: calc(0.15rem + 0.9vw);}
  h4 {font-size: calc(1.01rem + 0.3vw);} 
  h6 {font-size: calc(1.01rem + 0.1vw);} 
  a {font-size: calc(.75rem + 0.3vw);} 
  p {font-size: calc(.75rem + 0.3vw);} 
  li {list-style: none;}

  /*--------------------------------------------------------------
  >>> TEXT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> MAIN CONTAINER
  --------------------------------------------------------------*/

  .main-container {
    max-width: 75vw;
    margin: 0 auto;
  }

  /*--------------------------------------------------------------
  >>> MAIN CONTAINER - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> LAYOUT
  --------------------------------------------------------------*/

  #background {
    background-position: right center;
    background-image: url(../../images/xred-shift.jpg);

  }

  .main-layout {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  /*--------------------------------------------------------------
  >>> LAYOUT - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> CONTROL PANEL
  --------------------------------------------------------------*/

  .control-panel {
    margin: 3rem 0 0 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .music-side {
    display: flex;
    flex-direction: column;
  }

  .welcome-container {
    max-width: 30%;
    padding: 1.2rem 1.8rem 1.2rem 1.8rem;
    background-color: black;
    border-radius: 20px;
    border: 3px solid whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: 260px;
    max-height: 260px;
  }  

  .welcome-container h1 {
    font-family: 'Sacramento', cursive;
    padding: 0;
  }

  hr {
    width: 60%;
    height: 3px;
    margin: 10px auto 17px auto;
    background: var(--primary);
  }

  #quote-text {
    line-height: 23px;
    padding: 0 0 0.7rem 0;
    font-family: "Times New Roman", Times, serif;
  }

  #quote-author {
    font-style: italic;
  }

  /*--------------------------------------------------------------
  >>> CONTROL PANEL - END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  >>> WORD CONTAINER
  --------------------------------------------------------------*/

  .word-container {
    height: 100%;
    margin: 0rem 0 0 0;
    padding: 0.3rem 2rem;
    border-right: 3px solid whitesmoke;
    border-left: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
  }

  .word {
    animation: mymove 8s infinite;
    transition: all 0.3s ease-in-out;
  }

  @keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

  @keyframes mymove {50% {font-size: 2rem;}}.nav_link {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
  }

  

  /*--------------------------------------------------------------
  >>> WORD CONTAINER END
  --------------------------------------------------------------*/
  .learn-more {
    max-width: 80%;
    min-height: 100vh;
    margin: 0 auto;
  }
  .learn-more h1 {padding: 6rem 0 3rem 0;}

  .learn-more div {max-width: 60%;}
  .about {padding-top: 6rem;}
  .links {padding: 1rem 0 0 2rem; display: table;}
}