/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/

@media only screen and (min-width: 1400px) {

/*--------------------------------------------------------------
>>> STYLE
--------------------------------------------------------------*/

/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap'); */

/*--------------------------------------------------------------
>>> LAYOUT
--------------------------------------------------------------*/

#background {
  /* padding: 6rem 3rem 12rem 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center; 

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://ogbreathe.s3.us-west-1.amazonaws.com/Backgrounds/red-shiftt.jpg");
}

.control-panel {
  margin: 3rem 0 0 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right-side {
 /* margin: 6rem 0; */
  display: flex;
  flex-direction: column;
}


.welcome-container {
  max-width: 30%;
  padding: 2rem;
  background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) -100%, rgba(1,100,139,1) 3%, rgba(2,0,36,1) 100%);
  border-radius: 20px;
  border: 3px solid whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}  

hr {
  width: 50%;
  height: 6px;
  margin: 40px auto;
  background-color: aliceblue;
}


.quote-author { padding-top: 1rem; }

/*--------------------------------------------------------------
>>> WORD CONTAINER
--------------------------------------------------------------*/
.word-container {
  height: 100%;
  margin: 0rem 0 0 0;
  /* background: rgb(0,212,255); */
  /* background: radial-gradient(circle, rgba(0,212,255,1) -100%, rgba(1,100,139,1) 3%, rgba(2,0,36,1) 100%); */
  background: linear-gradient(235deg, #39b998, #394db9, #b95239, #b939a4);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  padding: 2rem 4rem;
  border-right: 3px solid whitesmoke;
  border-left: 3px solid whitesmoke;
  border-bottom: 3px solid whitesmoke;
  border-radius: 0 0 10px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 20px 20px 0 black;
  
  /* animation: shrink 4s ease alternate infinite; */
}



/*--------------------------------------------------------------
>>> STYLE END
--------------------------------------------------------------*/

}

/*--------------------------------------------------------------
>>> 1400 END
----------------------------------------------------------------*/



@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}