html, 
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

*:focus {
    outline: none;
}

#background {
	/* background-color: #000; */
    /* background-image: url(../images/mbg.mp4); */
    /* background-position: center; */
    /* background-size: cover; */
    /* display: table; */
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#loginContainer * {
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer {
	/* width: 80%; */
	/* margin: 0 auto; */
	/* position: relative; */
	/* max-width: 1024px; */
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

#inputContainer {
    width: 53vw;
    padding: 45px;
    margin: auto;
}

#inputContainer h2 {
	text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-radius: 250px;
    padding: 20px;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer input[type="text"]:focus,
#inputContainer input[type="email"]:focus,
#inputContainer input[type="password"]:focus {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


#inputContainer label {
	color: white;
    font-size: 18px;
    margin-top: 35px;
    display: block;
    text-align: center;
}

#inputContainer button {
	background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 50px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover {
	cursor: pointer;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.hasAccountText span {
	font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
	text-align: center;
}

#registerForm,
#loginForm {
	display: none;
}

#loginText {
    padding: 45px;
    /* display: table-cell; */
}

#loginText h1 {
    /* color: #07d159; */
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2 {
    text-align: center;

    margin: 35px 0;
}


#inputContainer .errorMessage {
    color: #07d159;
    font-size: 12px;
    display: block;
}