@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

@media(max-width: 420px){
  h1 {
    width: 100%;
    font-size: 30px;
  }
  h2{
    font-size: 25px;
      margin: 0 5px;
  }
/* Music */
  .music-container {
    margin: 100px 25px;
  }

  .img-container {
  display:none;
  }
  .music-container.play .music-info {
    transform: translateY(-45%);
  }
/* circles */
p {
  font-size: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;
  height: 200px;
  width: 200px;
  position: relative;
  transform: scale(1);
  /* padding-top: 180px; */
}

.circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {

  height: 220px;
  width: 220px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: blueviolet;
  text-shadow: 22px 22px white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}


}
