@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

@media(max-width: 900px){

  .header h1 {
    margin: 0;
    padding-bottom: 1rem;
    line-height: 50px;
  }
  h2 {
    margin: 0 15px;
    padding: 3px;
    font-size: 30px;
    text-align: center;
  }


}
