@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');


p { font-size: 25px;}

/* @media(min-width:420px) { */
@media(min-width:420px) {
.circles-container {

p {font-size: 25px;}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.black-circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {

  background: conic-gradient(
    #ccebff 0%,
    #1aa3ff 40%,
    #fff 40%,
    #fff 60%,
    #0000ff 60%,
    #cccfff 100%
  );
  
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: blueviolet;
  text-shadow: 22px 22px white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.container.grow {animation: grow 3s linear forwards;}
  
  @keyframes grow {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
  }

.container.shrink { animation: shrink 3s linear forwards;}
  
  @keyframes shrink {
    from {transform: scale(1.2);}
    to {transform: scale(1);}
  }


  to {transform: rotate(360deg);}
}

.container.grow {animation: grow 3s linear forwards;}

@keyframes grow {
  from {transform: scale(1);}

  to {transform: scale(1.2);}
}

.container.shrink {animation: shrink 3s linear forwards;}

@keyframes shrink {
  from {transform: scale(1.2);}

  to {transform: scale(1);}
}

}

