@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
/*--------------------------------
 Meyer Reset
 ------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------
 Meyer Reset End
 ------------------------------ */





/*--------------------------------
 Globals
------------------------------ */
*{
  box-sizing: border-box;
  color: whitesmoke;
}
/*--------------------------------
 Global End
------------------------------ */





/*--------------------------------
 Body
------------------------------ */
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'EB Garamond', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


/* html, body {height: 100%;} */
/*--------------------------------
 Body End
------------------------------ */

.header {
  width: 100%;
  text-align: center;
  margin-top: 15%;
  background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) -100%, rgba(1,100,139,1) 3%, rgba(2,0,36,1) 100%);
  padding: 4% 4% 6% 4%;
  border-radius: 20px;
  line-height: 30px;
  border: 3px solid whitesmoke;
}

.header h1 {

h1 {
  margin: 0;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 60px;
  justify-content: center;
}
.header p {
  font-size: 2rem;
  line-height: 45px;
}

/*--------------------------------
 Word
------------------------------ */
.word-container {
	margin-bottom: 200px;
	background: rgb(0,212,255);
  	background: radial-gradient(circle, rgba(0,212,255,1) -100%, rgba(1,100,139,1) 3%, rgba(2,0,36,1) 100%);
	padding: 2% 4%;
	border: 3px solid whitesmoke;
	border-radius: 10px;
}

.word {font-size: 2rem;}
/*--------------------------------
 Word END
------------------------------ */



/*--------------------------------
 Footer
------------------------------ */
.footer {
	margin-top: 200px;
  padding:3%;
  background-color: black;
  display: flex;
  justify-content:center;
  width: 100%;
}

.footer *{font-size: 2rem;}
/*--------------------------------
 Footer End
------------------------------ */
