@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body {
  background: lightblue url('/images/main.jpg') no-repeat center center/cover;
  color: #fff;
  min-height: 100vh;
  font-family: 'EB Garamond', serif;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}


h1 {
  margin: 0;
  padding: 5px;
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 2px 2px black;
  justify-content: center;
}
h2 {
  margin: 0;
  padding: 3px;
  font-size: 35px;
  /* text-transform: uppercase; */
  /* text-decoration: underline; */
  text-shadow: 2px 2px black;
  justify-content: center;
}




.footer {
  padding-top: 25px;
    bottom: 0;
    width: 100%;

  }
.footer p {
        float: left;
  }
